<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Landing page</title>

        <link th:href = "@{css/style.css}" rel = "stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="mainContainer" th:object="${introspect}">
            <div th:if="*{active == true}" class="text-container">
                <center>
                    <h4>Hi <span th:text="*{sub}" style="color: darkred;"></span></h4><br/><br/><br/>
                    <form th:action="@{/logout}" method="post">
                        <a href="./logout"><button type="submit" class="btn btn-dark">Logout</button></a>
                    </form>
                </center>
            </div>
            <div th:if="*{active == false}" class="button-container">
                <a href="./register"><button type="button" class="right-border btn btn-dark">Register</button></a>
                <a href="./login"><button type="button" class="right-border btn btn-light">Login</button></a>
                <a href="./resource1"><button type="button" class="right-border btn btn-light">Resource1</button></a>
                <a href="./resource2"><button type="button" class="right-border btn btn-light">Resource2</button></a>
            </div>
        </div>
    </body>
</html>