<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link th:href = "@{css/style.css}" rel = "stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <form th:action="@{/logout}" th:object="${user}" method="post">
        <div class="text-container">
            <h4>Logged in successfully</h4><br/><br/><br/>
            <center><a href="./home"><button type="button" class="btn btn-dark">Home</button></a></center>
        </div>
    </form>
</body>
</html>